<?xml version="1.0"?>
<launch>
	<node pkg="tf" type="static_transform_publisher" name="stf_hokuyo3d_laser" args="0.225 -0.255 0.0 0.0 0.0 0.0 camera_link 2d_blue 100"/>
	<node pkg="tf" type="static_transform_publisher" name="stf_hokuyo3d_laser2" args="-0.485 0.255 0.0 3.14159 0.0 0.0 camera_link 2d_orange 100"/>
	<node pkg="tf" type="static_transform_publisher" name="stp_laser" args="0 0 0.25 0 0 0 base_link camera_link 100" />
	 
 
	<include file="$(find kcctslam)/launch/sensor.launch"/>
		<node pkg="robot_model" type="robot_model_node" name="robot_model_node" output="screen"/>
	<node pkg="gmapping" type="slam_gmapping" name="mapper">
		<param name="maxUrange" value="80.0" type="double" />
		<param name="xmax" value="30" type="double" />
		<param name="ymax" value="30" type="double" />
		<param name="xmin" value="-30" type="double" />
		<param name="ymin" value="-30" type="double" />
	</node>
	<!--<node name="tf_pub" pkg="kcctslam" type="tf_pub"/>-->

<!--		
	<node pkg="mouse_teleop" type="mouse_teleop.py" name="mouse_teleop">
		<remap from="/mouse_vel" to="/cmd_vel" />
		</node>
-->				
<node pkg="rviz" type="rviz" args="-d '$(find kcctslam)/config/rviz/mapping_yvtx002.rviz'" name="visualizer" respawn="true" />



</launch>








